fonty {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
:root {
  --dirt-white: #f4f4fd;
  --white: #ffffff;
  --gray-light: #434455;
  --grey-dark: #2e2f42;
  --blue-dark: #404bbf;
  --blue-violet: #4d5ae5;
}

body {
  
  font-family: "Roboto", sans-serif;
  color: var(--gray-light);
  background-color: var(--white);
}
.link {
  font-style: normal;
  text-decoration: none;
  color: var(--gray-light);
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-advantages {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--grey-dark);
}
.adress-header {
  font-style: normal;
}
.text-adventages {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--gray-light);
}
.section-our-team {
  background-color: var(--dirt-white);
}
.solution-text {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}
.image-index {
 
  background-color: var(--white);
}
.header-uper-photos {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--grey-dark);
}
.name-index {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}

.header-photo-portfolio {
  color: var(--grey-dark);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.text-under-header-portfolio {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--gray-light);
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-align: left;
  color: var(--blue-violet);
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-second-part {
  color: var(--grey-dark);
}
.solution-background {
  background-color: var(--grey-dark);
}
h1 {
  color: white;
  line-height: 1.07;
}
.solution-button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;

  color: var(--white);
  background-color: var(--blue-violet);
}
.solution-button:hover {
  color: var(--white);
  background-color: var(--blue-dark);
}
.solution-button:active {
  background-color: var(--blue-dark);
}
.solution-button:focus {
  background-color: var(--blue-dark);
}

.link-header {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color:var(--grey-dark);
}
.link-header:focus {
  color: var(--blue-dark);
}
.link-header:hover {
  color: var(--blue-dark);
}
.link-header:active {
  color: var(--blue-dark);
}

.logo-second-part-footer {
  color: var(--dirt-white);
}

.footer-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--dirt-white);
}
footer {
  background: var(--grey-dark);
}
.paragraph {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.visually-hidden {
  visibility: hidden;
}




.portfolio-button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  color: var(--blue-violet);
  background-color: var(--dirt-white);
  width: 116px;
  
  padding: 12px 24px 12px 24px;
  border-radius: 4px;
  border: 1px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-align: center;
  list-style: none;
  box-shadow: 0px 2px 1px 0px #00000014;

  box-shadow: 0px 3px 1px 0px #0000001a;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--blue-dark);
  color: var(--white);
}

.section-main-portfolio {
  
  margin: 0 auto;
  padding: 0 15px;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
  gap: 48px, 24px;
}
.image-portfolio {
 
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
