fonty {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
:root {
  --dirt-white: #f4f4fd;
  --white: #ffffff;
  --gray-light: #434455;
  --grey-dark: #2e2f42;
  --blue-dark: #404bbf;
  --blue-violet: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--gray-light);
  background-color: var(--white);
}
.link {
  font-style: normal;
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
}
.div-header{
  display: flex;
}
.container{
  display: flex;
width: 1158px;
margin: 0 auto;
padding: 0 15px;
}
.header{
  border-bottom: 1px solid #e7e9fc;
}
.nav-header{
  display: flex;
  align-items: center;
}
.header-advantages {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--grey-dark);
  margin: bottom 9px;
}
.section-advantages{
padding: 120px 0 120px;
}
.adress-header {
  font-style: normal;
}
.text-adventages {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gray-light);
}
.list-advantages{
  display: flex;
  gap: 24px;
}
.li-advantages{
  flex-basis: calc((100% - 72px) / 4);
}
.section-our-team {
  background-color: var(--dirt-white);
  padding: 120px 0 120px ;
}
.solution-text {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  max-width: 496px;
}
.li-our-team {
  flex-basis: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px ;
  background-color: var(--white);
}
.section-doing{
  padding-bottom: 120px;
}
.header-uper-photos {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--grey-dark);
  margin-bottom: 72px;

}
.list-doing{
  display: flex;
  gap: 24px;
}
.li-doing{
  width: ((100% - 3 * 16px) / 3) ;
 
}
.name-index {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}
.list-our-team{
  display: flex;
  gap: 24px;
}

.people-our-team{
  margin-bottom: 8px;
  text-align: center;
  padding: 32px 0px;
}
.header-photo-portfolio {
  color: var(--grey-dark);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.text-under-header-portfolio {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: var(--gray-light);
  text-decoration: none;
}
.header-people{
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--grey-dark);
  margin: bottom 9px;
  text-align: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.03em;
  line-height: 1.17;

  color: var(--blue-violet);
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-second-part {
  color: var(--grey-dark);
}
.solution-background {
  padding: 188px 0 188px;
  background-color: var(--grey-dark);
}
h1 {
  color: white;
  line-height: 1.07;
}
.solution-button {
  border: none;
  height: 56px;
  min-width: 169px;
  display: block;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--blue-violet);
}
.solution-button:hover {
  color: var(--white);
  background-color: var(--blue-dark);
}
.solution-button:active {
  background-color: var(--blue-dark);
}
.solution-button:focus {
  background-color: var(--blue-dark);
}

.link-header {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--grey-dark);
}
.link-header:focus {
  color: var(--blue-dark);
}
.link-header:hover {
  color: var(--blue-dark);
}
.link-header:active {
  color: var(--blue-dark);
}

.logo-second-part-footer {
  color: var(--dirt-white);
}

.footer-text {
  max-width: 264px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--dirt-white);
}
footer {
  padding:100px 0 100px ;
  background: var(--grey-dark);
}
.footer-adress{
  display: inline-block;
  margin-bottom: 16px;
}
.paragraph {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
}
.visually-hidden {
  visibility: hidden;
}

.portfolio-button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  color: var(--blue-violet);
  background-color: var(--dirt-white);
  border: 1px solid #e7e9fc;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-align: center;
  list-style: none;
  padding: 12px 24px 12px;
  border-radius: 4px;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--blue-dark);
  color: var(--white);
  border: 1px solid transparent;
}

.section-main-portfolio {
  padding: 96px 0 120px 0;
  margin: 0 auto;
}
.list-portfolio {
  display: flex;
  justify-content: center;
  gap: 24px;;
  flex-wrap: wrap;
  margin-bottom: 72px;
  justify-content: center;
  margin-bottom: 72px;
}
.list-photo-portfolio{
  display: flex;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  margin-bottom: 72px;
  justify-content: center;
  margin-bottom: 72px;
 

}
.li-photo-portfolio{
width: calc((100%-48px)/3);
}
.portfolio-text{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.div-photo{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
margin-bottom: 8px;
}

img{
  display: block;
}
button {
  cursor: pointer;
  border: none;
}
