fonty {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.link {
  color: #434455;
;
}
.link:hover {
  color: rgb(121, 22, 138);
}
.link:active {
  color: blueviolet;
}
.link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.header-advantages {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
}
.header-uper-photos {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
}
.name-index {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}
.button-text-porfolio {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  


;
}
.header-photo-portfolio {
  color: #2E2F42;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.text-under-header-portfolio {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color:  #434455;
;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #4d5ae5;
}
.logo-second-part {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
}
.solution-background {
  background-color: #2e2f42;
}
h1 {
  color: white;
  line-height: 1.07;
}
.solution-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;

  color: #ffffff;
  background-color: #4d5ae5;
}
.solution-button:hover {
  cursor: pointer;
  color: #404bbf;
}
.solution-button:active {
  color: #404bbf;
}
.list {
  list-style: none;
}
.link-header {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.link-header:hover {
  color: #404bbf;
}
.link-header:active {
  color: #404bbf;
}
.portfolio-all-button {
  color: #4D5AE5;
  background-color:  #404BBF;
;
 width: Hug (69px)
height: Hug (48px)
padding: 12px, 24px, 12px, 24px
border-radius: 4px

}
.portfolio-web-button {
  color: #4D5AE5;
  background-color: #F4F4FD;
  width: Hug (116px)
height: Hug (48px)
padding: 12px, 24px, 12px, 24px
border-radius: 4px
border: 1px

}
.portfolio-app-button {
  color: #4D5AE5;
  background-color: #F4F4FD;
  width: Hug (78px)
height: Hug (48px)
padding: 12px, 24px, 12px, 24px
border-radius: 4px
border: 1px

}
.portfolio-desing-button {
  color: #4D5AE5;
  background-color: #F4F4FD;
  border-radius: 4px;
width: Hug (101px)
height: Hug (48px)
padding: 12px, 24px, 12px, 24px
border: 1px


}
.portfolio-marketing-button {color: #4D5AE5;
  background-color: #F4F4FD;
width: Hug (126px)
height: Hug (48px)
padding: 12px, 24px, 12px, 24px
border-radius: 4px
border: 1px

}
.logo-second-part-footer{
  color: #ffffff;
}
.footer-text{
  color: #F4F4FD;

}
footer{background: #2E2F42;
}
